adf-customer-product-pipeline/Child_pipeline.json
{
    "name": "ChildPipeline",
    "properties": {
        "activities": [
            {
                "name": "GetProductCount",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT COUNT(*) AS count FROM Products",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "AzureSqlTable1",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "IfProductCountMoreThan0",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "GetProductCount",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@greater(int(activity('GetProductCount').output.firstRow.count), 0)",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "CopyProductData",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderQuery": "SELECT * FROM Products",
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "sink": {
                                    "type": "JsonSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "JsonWriteSettings"
                                    }
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "AzureSqlTable1",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "MyADL_Linkservice",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "fileName": "@concat('product_data_', pipeline().parameters.customerCount, '.json')"
                                    }
                                }
                            ]
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "customerCount": {
                "type": "string"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-06-25T04:41:24Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
