adf-customer-product-pipeline/Main_pipeline.json
{
    "name": "CopyCustomerDataPipeline",
    "properties": {
        "activities": [
            {
                "name": "GetCustomerCount",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT COUNT(*) AS count FROM Customers",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "AzureSqlTable1",
                        "type": "DatasetReference"
                    }
                }
            },
            {
                "name": "IfCustomerCountMoreThan500",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "GetCustomerCount",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@greater(int(activity('GetCustomerCount').output.firstRow.count), 500)",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "CopyCustomerData",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderQuery": "SELECT * FROM Customers",
                                    "partitionOption": "None"
                                },
                                "sink": {
                                    "type": "JsonSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "JsonWriteSettings"
                                    }
                                },
                                "enableStaging": false
                            },
                            "inputs": [
                                {
                                    "referenceName": "AzureSqlTable1",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "MyADL_Linkservice",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "fileName": "customer_data.json"
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "IfCustomerCountMoreThan600",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "IfCustomerCountMoreThan500",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@greater(int(activity('GetCustomerCount').output.firstRow.count), 600)",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "RunChildPipeline",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "policy": {
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "ChildPipeline",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "customerCount": {
                                        "value": "@activity('GetCustomerCount').output.firstRow.count",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-06-25T04:41:25Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
